.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 23px;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  width: 1920px;
  margin: 0 auto;
}

.featured-products-title {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  font-size: 60px;
  line-height: 70px;
  font-weight: 900;
  color: #000000;
  background-color: #ffffff;
}

.featured-products__list {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 91px;
}

.featured-products__items {
  outline: 3px solid transparent;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 51px;
  padding-bottom: 350px;
}

.featured-products__items:hover {
  opacity: 0.8;
}

.featured-products__items:focus {
  opacity: 1;
}

.featured-products__items:active {
  opacity: 0.4;
}

.selected-product__item {
  display: block;
}

.selected-product__title {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  padding-bottom: 11px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #181818;
  background-color: #ffffff;
  text-decoration: none;
}

.selected-product__item b {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-left: 4px;
  font-size: 17px;
  color: #181818;
  background-color: #ffffff;
}

.selected-product__item p {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
  color: #181818;
  background-color: #ffffff;
}

.hidden-text {
  display: none;
}

.selected-product__link {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  line-height: 21px;
  font-weight: 500;
  text-decoration: underline;
  color: #3546a6;
}

.selected-product__item:hover .selected-product__link {
  font-weight: 700;
  color: #6c9e42;
}

@media (max-width: 810px) {
  .page-main {
    width: 810px;
  }
}

@media (max-width: 375px) {
  .page-main {
    width: 375px;
  }
}

@media (max-width: 810px) {
  .featured-products-title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 375px) {
  .featured-products-title {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 810px) {
  .featured-products__list {
    display: block;
  }
}

@media (max-width: 375px) {
  .featured-products__list {
    display: block;
  }
}

@media (max-width: 810px) {
  .featured-products__items {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .featured-products__items {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 810px) {
  .selected-product__item {
    display: flex;
  }
}

@media (max-width: 375px) {
  .selected-product__item {
    display: block;
  }
}

@media (max-width: 810px) {
  .selected-product__item p {
    font-size: 17px;
    line-height: 27px;
  }
}

@media (max-width: 375px) {
  .selected-product__item p {
    font-size: 17px;
    line-height: 27px;
  }
}

@media (max-width: 810px) {
  .hidden-text {
    display: block;
  }
}
