@import "general/breackpoints";
@import "general/variables";
@import "components/featured-products";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  transform-origin: center;
}

*:focus {
  outline: none !important;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
  background-color: $white;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a {
  appearance: none;
  background-color: transparent;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button {
  -webkit-appearance: button;
  text-rendering: auto;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  cursor: default;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1632px;
  margin: 0 auto;

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include tablet {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include desktop {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.main-content {
  flex: 1 0 auto;
  padding: 0;
}

.footer {
  flex-shrink: 0;
}

