.featured-products-title {
  font-weight: 900;
  padding: 0;

  @include mobile {
    font-size: 2rem;
    margin: 40px 0 0 0;
  }

  @include tablet {
    font-size: 3rem;
    margin: 24px 0 32px 0;
  }

  @include desktop {
    font-size: 3.75rem;
    margin: 70px 0 40px 0;
  }
}

.featured-products-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include mobile {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  @include desktop {
    width: calc(100% + 96px);
    margin: 0 -48px;
    flex-direction: row;
  }
}

.featured-products-item {
  display: flex;
  flex-direction: column;
  position: relative;

  @include mobile {
    width: 100%;
    padding: 40px 0;
  }

  @include tablet {
    width: 100%;
    padding: 0 0 48px;
    margin: 0 0 48px;
  }

  @include desktop {
    padding: 0 48px;
    width: 25%;
  }

  &:last-child {
    .featured-product-link::after {
      display: none;
    }
  }
}

.featured-product-link {
  display: flex;
  width: 100%;
  transition: background-color 1s linear;
  line-height: 0;

  &::after {
    content: "";
    position: absolute;
    background-color: $grey;
    height: 1px;

    @include mobile {
      flex-direction: row;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @include tablet {
      flex-direction: row;
      bottom: 0;
      left: 0;
      right: -32px;
    }

    @include desktop {
      display: none;
    }
  }

  &:hover {
    background-color: $green-light;

    .featured-product-preudolink {
      color: $black;
    }
  }

  &:active {
    background-color: $green-light;
  }

  .block-animation {
    transition-duration: 2s;
  }

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }
}

.featured-product-img {
  max-width: 100%;
  box-shadow: 8px 8px 16px rgba($black, 0.18);
}

.featured-product-img-wrapper {

  @include mobile {
    width: calc(100% - 9px);
  }

  @include tablet {
    width: 200px;
  }
}

.featured-product-descr {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: calc(100% - 200px);
    padding: 0 0 0 48px;
  }

  @include desktop {
    width: 100%;
  }
}

.featured-product-title {
  display: flex;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 700;
  color: $black-light;
  padding: 0;

  @include mobile {
    margin: 12px 0 0 0;
  }

  @include tablet {
    margin: -12px 0 0 0;
  }

  @include desktop {
    margin: 14px 0 0 0;
  }
}

.featured-product-subtitle {
  display: flex;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: $black-light;
  padding: 0;

  @include mobile {
    word-spacing: 0.6rem;
    margin: 0 0 8px 0;
  }

  @include tablet {
    word-spacing: 0.5rem;
    margin: 12px 0 8px 0;
  }

  @include desktop {
    word-spacing: 0.5rem;
    margin: 0 0 8px 0;
  }
}

$featured-product-text-font-size: 1rem;
$featured-product-text-line-height: 1.7;
$featured-product-text-lines-to-show: 6;

.featured-product-text {
  display: block;
  max-height: $featured-product-text-font-size *
    $featured-product-text-line-height * $featured-product-text-lines-to-show;
  font-size: $featured-product-text-font-size;
  line-height: $featured-product-text-line-height;
  font-weight: 300;
  color: $black-light;
  -webkit-line-clamp: $featured-product-text-lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mobile {
    word-spacing: 0.1rem;
  }

  @include tablet {
    word-spacing: 0.2rem;
  }

  @include desktop {
    word-spacing: 0.1rem;
  }
}

.featured-product-preudolink {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: underline;
  color: $blue;
  padding: 0;
  margin: 16px 0 0 0;
}
