.page {
  height: 100%;
}

$font-family-stack: "Roboto", sans-serif;
$font-size-stack: 15px;

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $font-family-stack;
  font-size: $font-size-stack;
  line-height: 23px;
}
